html(ng-app="Cloudfader")
	head
		title Cloudfader
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css")
		link(rel="stylesheet", href="/css/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
		script(src="angularjs-slider/dist/rzslider.min.js")
		script(src="js/controllers.js")
		link(rel="stylesheet", href="angularjs-slider/dist/rzslider.min.css")
		script(src="https://w.soundcloud.com/player/api.js")
		script(src='https://connect.soundcloud.com/sdk/sdk-3.0.0.js')
		script(src="https://w.soundcloud.com/player/api.js")
		script(type="text/javascript").
			SC.initialize({
				client_id: '345c596bb33bd22fef0e526ea90948c6'
			});
	body(ng-controller="CloudfaderController")
		.row
			h1 Cloudfader

		//- Deck A
		.row
			.small-4.columns#deck-a
				.row
					div#a-widget(ng-bind-html="deckA.html | sanitize")
				.row 
					p Queue
				.row.queue(ng-repeat="track in deckA.queue")
					.small-4.columns
						img(ng-src="{{track.artwork_url}}")
					.small-4.columns
						p {{track.title}}
					.small-4.columns
						a(ng-click="removeFromQueue(deckA, track)") Remove
				form(ng-submit="search(deckA, queryA)").search-form
					.row
						.input-group
							input.input-group-field(type="text", ng-model='queryA', name='queryA', placeholder='Search Soundcloud...')
							.input-group-button
								input(type="submit", class="button", value="Search")
				.row.search-results
					p Results
					.row(ng-repeat="result in deckA.searchResults")
						.small-8.columns
							p {{result.title}} 
						.small-4.columns
							a(ng-click="addToQueue(deckA, result)") Add

			//- Fader
			.small-4.columns.fader
				.row
					.small-10.small-offset-1
						rzslider(rz-slider-model='fader.value', rz-slider-options='fader.options')

			//- Deck B
			.small-4.columns#deck-b
				.row
					div#b-widget(ng-bind-html="deckB.html | sanitize")
				.row 
					p Queue
				.row.queue(ng-repeat="track in deckB.queue")
					.small-4.columns
						img(ng-src="{{track.artwork_url}}")
					.small-6.columns
						p {{track.title}}
					.small-2.columns
						a(ng-click="removeFromQueue(deckB, track)") Remove
				form(ng-submit="search(deckB, queryB)").search-form
					.row
						.input-group
							input.input-group-field(type="text", ng-model='queryB', name='queryB', placeholder='Search Soundcloud...')
							.input-group-button
								input(type="submit", class="button", value="Search")
				.row.search-results
					p Results
					.row(ng-repeat="result in deckB.searchResults")
						.small-8.columns
							p {{result.title}} 
						.small-4.columns
							a(ng-click="addToQueue(deckB, result)") Add


